<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="template">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content">
    <div class="card">
        <div class="card-body">
            <div class="ps-3">

            </div>
           <h1 class="justify-content-center">Products</h1>
            <table class="table">
                <thead>
                   <tr>
                       <td>ID</td>
                       <td>NAME</td>
                       <td>PRICE</td>
                       <td>Quantity</td>
                   </tr>
                </thead>
                <tbody>
                <tr th:each="p:${products}">
                    <td th:text="${p.id}"></td>
                    <td th:text="${p.name}"></td>
                    <td th:text="${p.price}"></td>
                    <td th:text="${p.quantities}"></td>

                </tr>
                </tbody>

            </table>
        </div>

    </div>



</div>
</body>
</html>